<div class="col mx-auto" >
    <div class="row px-3 align-items-center todo-item rounded">
        <div class="col-auto m-1 p-0 d-flex align-items-center">
            <h2 class="m-0 p-0">
                <i (click) = "toggleDone()" class="fa text-primary btn m-0 p-0" [ngClass]="item.done?'fa-check-square-o':'fa-square-o'" data-toggle="tooltip" data-placement="bottom" title="{{item.done?'Mark as todo':'Mark as complete'}}"></i>
            </h2>
        </div>
        <div class="col px-1 m-1 d-flex align-items-center">
          <input type="text" *ngIf="!isEditMode" (dblclick)="enableEdit()" class="form-control form-control-lg border-0 edit-todo-input bg-transparent rounded px-3" readonly value="{{item.summary}}" title="{{item.summary}}" />
          <input type="text" *ngIf="isEditMode" [(ngModel)]="summary"  (keydown.enter)="saveItem();disableEdit();" (keydown.esc)="disableEdit()" class="form-control form-control-lg border-0 edit-todo-input rounded px-3" />
        </div>
        <div class="col-auto m-1 p-0 px-3">
            <div class="row">
                <div class="col-auto d-flex align-items-right rounded bg-white" [ngClass]="{'border border-info' : item.dueDate != null}">
                    <h6 *ngIf="!isEditMode && item.dueDate != null" class="text my-2 pr-2">{{item.dueDate | date }}</h6>
                    <span *ngIf="isEditMode">
                      <!--TODO fix style-->
                      <input  style= "width: 6em; border: none;" class="date-picker-input" [matDatepicker]="myDatepicker" readonly [(ngModel)]="dueDate" placeholder="No ue date">
                      <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
                      <mat-datepicker #myDatepicker></mat-datepicker>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-auto m-1 p-0 todo-actions">
            <div class="row d-flex align-items-center justify-content-end">
                <h5 class="m-0 p-0 px-2">
                    <i (click)="enableEdit()"  *ngIf="!isEditMode" class="fa fa-pencil text-info btn m-0 p-0" data-toggle="tooltip" data-placement="bottom" title="Edit todo"></i>
                    <i (click)="saveItem();disableEdit();" *ngIf="isEditMode" class="fa fa-save text-info btn m-0 p-0" data-toggle="tooltip" data-placement="bottom" title="Save todo"></i>
                    &nbsp;
                    <i (click)="disableEdit();" *ngIf="isEditMode" class="fa fa-undo text-info btn m-0 p-0" data-toggle="tooltip" data-placement="bottom" title="Undo changes"></i>
                </h5>
                <h5 class="m-0 p-0 px-2">
                  <i *ngIf="isEditMode && dueDate != null" (click)="clearDueDate()" class="fa fa-calendar-times-o text-info btn m-0 p-0 text-danger btn clear-due-date-button" data-toggle="tooltip" data-placement="bottom" title="Clear Due date"></i>
                  <i (click)="deleteItem()" *ngIf="!isEditMode" class="fa fa-trash-o text-danger btn m-0 p-0" data-toggle="tooltip" data-placement="bottom" title="Delete todo"></i>
                </h5>
            </div>
        </div>
    </div>
</div>

