
,<!--
<link rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&amp;display=swap'>
-->

<!--TODO replace datapicker with angular component-->
<!-- <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.standalone.min.css'> -->


<div class="container m-6 p-2 rounded mx-auto bg-light shadow">

    <app-header></app-header>
    <add-item></add-item>

    <list-items></list-items>
</div>
