<div class="row m-1 p-3">
  <div class="col col-9 mx-auto">
      <div class="row bg-white rounded shadow-sm p-1 add-todo-wrapper align-items-center justify-content-center">
          <div class="col">
              <input [(ngModel)]="summary" (keyup.enter)="addItem()" (keydown.esc)="clear()" class="form-control form-control-lg border-0 add-todo-input bg-transparent rounded" type="text" placeholder="Add new ..">
          </div>
          <div class="col-auto m-0 px-2 d-flex align-items-center">
              <div class="col-auto d-flex flex-row align-items-right rounded bg-white">
                <!-- TODO fix size styling -->
                <input [matDatepicker]="myDatepicker" style="width:6em; border:none" class="date-picker-input"  readonly [(ngModel)]="dueDate" placeholder="No due date">
                <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #myDatepicker></mat-datepicker>
              </div>
          </div>
          <div class="col-auto px-0 mx-0 mr-2">
              <button type="submit" (click)="addItem()" (keyup.enter)="addItem()" [disabled]="!this.summary" class="btn btn-primary">Add</button>
              <i (click)="clear()" *ngIf="this.summary || this.dueDate" class="fa fa-eraser my-2 px-1 text-danger btn clear-due-date-button" data-toggle="tooltip" data-placement="bottom" title="Clear"></i>
          </div>
      </div>
  </div>
</div>

